body {
  background: gray;
}
h1 {
  text-align: center;
}
.adjust {
  display: inline-block;
  width: 8em;
  height: 7em;
  border: 1px solid white;
  margin: 0 1em;
  text-align: center;
}
.adjust div {
  display: inline-block;
  margin: 0 auto;
  font-size: 2em;
}
.adjust_display {
  margin: 1em auto;
  text-align: center;
}
.clock {
  width: 25em;
  height: 25em;
  border: 2px solid limegreen;
  border-radius: 50%;
  margin: 0 auto;

}

.wrap {
  width: 90%;
  margin: 5em auto;
}
