body {
  background: gray;
  color: white;
}
h1, h3 {
  text-align: center;
  text-shadow: 1px 2px #000;
}
.adjust {
  display: inline-block;
  width: 8em;
  height: 7em;
  border: 1px solid white;
  margin: 0 1em;
  text-align: center;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #000;
}
.adjust div {
  display: inline-block;
  margin: 0 auto;
  font-size: 2em;
  padding: 0 3px;
  text-shadow: 1px 2px #000;
}
.adjust_display {
  margin: 2em auto;
  text-align: center;
}
#outerClock {
  position: relative;
  width: 25em;
  height: 25em;
  border: 3px solid limegreen;
  border-radius: 50%;
  margin: 1em auto;
}
#innerClock {
  background: green;
  position: relative;
  width: 15em;
  height: 15em;
  border: 2px solid white;
  border-radius: 50%;
  margin: 5em auto;
  box-shadow: 1px 1px 2px #000;
}
#invisible-clock {
  position: relative;
  width: 25em;
  height: 25em;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: -26em;
  z-index: -1;
}
#hand {
  position: absolute;
  top: 0.5em;
  right: 12.05em;
  width: 1em;
  height: 1em;
  background: limegreen;
  transform: rotate(45deg);
}
#hand2 {
  position: absolute;
  top: 0.5em;
  right: 12.5em;
  width: 2px;
  height: 4.5em;
  background: limegreen;
}
#timer {
  width 5em;
  margin: 0.7em auto;
  text-align: center;
  font-size: 3em;
}
.title {
  background: gray;
  width: 4em;
  margin: 0 auto;
  margin-top: 1.5em;
  text-align: center;
  font-size: 2.5em;
  border: 2px solid white;
  border-radius: 4px;
}
.wrap {
  width: 90%;
  margin: 2em auto;
}
@keyframes countdown {
    100% {
        transform: rotate(360deg);
    }
}
